@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-background: #f4f4f4;
  --color-background-primary: #ffffff;
  --color-background-secondary: #1d1d28;

  /* Textes */
  --color-text-primary: #ffffff;
  --color-text-secondary: #0f2155;
}
